.scroll{
    height: 43rem;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}
.chatInput{
    border: none;
    flex-grow: 1;
}
.send{
    width: 35px;
}
.avatarFriend{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.avatarUser{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}
.message{
    border-radius:20px;
    padding: 0.6rem;
    margin:0;
    word-break:break-all;
    display: grid;
    align-items: center;
}
.messageUser{
    background-color: #637baf;
}
.messageFriend{
    background-color: #efefef;
}
.messageDate{
    text-align: center;
    color: #6f7580;
}
.timeDiv .time{
    color: white;
    display: grid;
    align-items: center;
}
.timeDiv:hover .time{
    color: #6f7580;
}
.timeUser{
    margin: 0px 10px 0px 0px;
}
.timeFriend{
    margin: 0px 0px 0px 10px;
}



